@using TAiMStore.Model.ViewModels;
@using TAiMStore.HtmlHelpers;
@model ProductsViewModel

@foreach (var p in @Model.Products)
{

   <div class="well">
    @if (p.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="200" height="200"
                 src="@Url.Action("GetImage", "Product",
                new { p.Id })" />
        </div>
    }
    <h3>
        <strong>@p.Name</strong>
        <span class="pull-right label label-primary">@p.Price.ToString(",#. руб ## коп")</span>
    </h3>
       @using (Html.BeginForm("AddToCart", "Cart"))
       {
           <input type="submit" class="btn btn-success" value="Добавить в корзину" />
       }
     <table>
         <td>
             <tr>
             @p.Description
              </tr>
         </td>
         <td>
             <tr>
                 @p.DescriptionSecond
             </tr>
        </td>
     </table>
 </div>
}
